<footer>
  <div class="navbar">
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'SALES', sales_path %></a></h6>
    </div>
    <div class="navbar-item">
      <h6 class="title is-6"><a><%= link_to 'NEW', new_path %></a></h6>
    </div>
    <div class="navbar-item">
      <a href="/bestsellers">Bestsellers</a>
    </div>
    <div class="navbar-item">
      <a href="/cleansers">Cleansers</a>
    </div>
    <div class="navbar-item">
      <a href="/moisturizers">Moisturizers</a>
    </div>
    <div class="navbar-item">
      <a href="/masks">Masks</a>
    </div>
    <div class="navbar-item">
      <a href="/eye_care">Eye Care</a>
    </div>
    <div class="navbar-item">
      <a href="/face_mists">Face Mists</a>
    </div>
    <div class="navbar-item">
      <a href="/makeup_removers">Makeup Removers</a>
    </div>
    <div class="navbar-item">
      <a href="/sunscreen">Sunscreen</a>
    </div>
    <div class="navbar-item">
      <a href="/skin_tools">Skin Tools</a>
    </div>
    <div class="navbar-item">
      <a href="/treatments_serums">Treatments & Serums</a>
    </div>
    <div class="navbar-item">
      <a href="/sets">Sets</a>
    </div>
    <div class="navbar-item">
      <a href="/mini_sized">Mini Sized</a>
    </div>
  </div>
  <div class="is-vcentered" id="to_top">
    <a href="#"><p class="footer-item"><b>Back to Top</b></p></a>
  </div>
  <div class="is-flex" id="footer">
    <p class="footer-item">ExoLit Co. EST 2022</p>
    <p class="footer-item">Alina Bozynski WEBD-3011</p>
  </div>
</footer>