<footer>
  <div class="navbar">
    <a href="/bestsellers">Bestsellers</a>
    <a href="/cleansers">Cleansers</a>
    <a href="/moisturizers">Moisturizers</a>
    <a href="/masks">Masks</a>
    <a href="/eye_care">Eye Care</a>
    <a href="/face_mists">Face Mists</a>
    <a href="/makeup_removers">Makeup Removers</a>
    <a href="/sunscreen">Sunscreen</a>
    <a href="/skin_tools">Skin Tools</a>
    <a href="/treatments_serums">Treatments & Serums</a>
    <a href="/sets">Sets</a>
    <a href="/mini_sized">Mini Sized</a>
  </div>
  <div>
    <p>ExoLit Co. EST 2022</p>
    <p><a href="#">Back to Top</a></p>
    <p>Alina Bozynski WEBD-3011</p>
  </div>
</footer>