/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a:hover:not(.name a:hover) {
  background-image: linear-gradient(to bottom right, #ace2ff, #d894eb)
}

.name a:hover {
  color: #f6ac4c;
}

header {
  padding: 3px;
  margin-bottom: 1%;
  background-color: #f5c17e;
}

    header > div > p > a {
      padding: 10px;
    }

      header > div > h1 > a:hover {
        border: 1.5px solid #fff;
        border-radius: 0px 65px;
      }

  header .search > input {
    padding: 10px;
    width: 500px;
    margin-right: 5px;
  }

  .header-item, .navbar-item, .footer-item {
    margin: auto;
  }

    header > div > h3:last-of-type {
      margin: 0px;
    }

  header > div:first-of-type h1 {
    text-shadow: 0px 0px 15px #202020;
  }

  .header-item > span {
    color: #f5c17e;
    text-shadow: 0px 0px 15px #000, 0px 0px 15px #3c3c3c;
  }

  .header-item:first-of-type > a, .navbar-item > h6 > a, .navbar-item > a, .category > a, .product > a, .footer > a, header > div > p > a {
    color: #000;
  }

    .cart-icon {
      height: fit-content;
      background-color: #515050;
    }

    .navbar {
      background-color: #f2dfc5;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    .navbar-item {
      background-color: #f2dfc5;
      margin: 2px auto;
      height: fit-content;
    }

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#search, .products {
  min-height: 500px;
}

      .contact_info-item {
        margin: 0% auto;
      }

  .product {
    max-width: 18%;
    border: 2px solid #515050;
    box-sizing: content-box;
    margin: 15px;
    padding: 1%;
  }

    .category {
      border: 2px solid #515050;
      border-radius: 15px;
      width: fit-content;
      padding: 3px;
      float: right;
    }

      .navbar-item:hover {
        background-image: linear-gradient(to bottom right, #ace2ff, #d894eb);
      }

      .category:hover {
        border: 2px solid #000;
        background-image: linear-gradient(to bottom right, #ace2ff, #d894eb);
      }

footer {
  padding: 4px;
  margin-top: 4%;
  background-color: #f5c17e;
}

  #to_top {
    display: flex;
    justify-content: center;
    color: #000;
    height: 35px;
    padding-top: 5px;
  }

  #to_top:hover {
    background-image: linear-gradient(to bottom right, #ace2ff, #d894eb);
    color: #515050;
  }

  #footer {
    background-color: #f5c17e;
    height: 60px;
    padding: 15px;
  }