<%= render 'components/header', page: 'Eye Care' %>
<div class="container">
  <h2 class="title is-2">Eye Care</h2>
</div>
<%= render :partial => 'categorized' %>
<%= render :partial => 'components/footer' %>