<%= render 'components/header', page: 'Makeup Removers' %>

<div class="container">
  <h2 class="title is-2 page-name">Makeup Removers</h2>
</div>
<%= render :partial => 'categorized' %>
<%= render :partial => 'components/footer' %>