<%= render 'components/header', page: 'Mini Sized' %>
<div class="container">
  <h2 class="title is-2 page-name">Mini-Sized Products</h2>
</div>
<%= render :partial => 'categorized' %>
<%= render :partial => 'components/footer' %>