<%= render :partial => 'components/header' %>
<div class="container">
  <h2 class="title is-2">Mini-Sized Products</h2>
</div>
<%= render :partial => 'categorized' %>
<%= render :partial => 'components/footer' %>