<%= render 'components/header', page: 'Moisturizers' %>
<div class="container">
  <h2 class="title is-2">Moisturizers</h2>
</div>
<%= render :partial => 'categorized' %>
<%= render :partial => 'components/footer' %>