<%= render 'components/header', page: 'Skin Tools' %>
<div class="container">
  <h2 class="title is-2 page-name">Skin Tools</h2>
</div>
<%= render :partial => 'categorized' %>
<%= render :partial => 'components/footer' %>