<%= render 'components/header', page: 'Sunscreen' %>
<div class="container">
  <h2 class="title is-2">Sunscreen<h2>
</div>
<%= render :partial => 'categorized' %>
<%= render :partial => 'components/footer' %>