<%= render 'components/header', page: 'Treatments & Serums' %>
<div class="container">
  <h2 class="title is-2 page-name">Treatments & Serums</h2>
</div>
<%= render :partial => 'categorized' %>
<%= render :partial => 'components/footer' %>